<% provide(title: 'FAQ') %>

<h2>28 Day Hug Help desk</h2>

<h4>How do I change the delivery date for my 28 Day Hug?</h4>
<p>To change the day your Hug is sent you can simply use our Hug Management Form.
Be sure to include the email address used to sign up, your name and your new desired date!</p>

<h4>I want to Give a Gift Subscription or Have My Hug Sent to My Workplace</h4>
<p>If you want to send a gift subscription you simply need to sign up as you would normally and when you get to the success page (after you have entered your payment details) you will see a link to our Hug Management Form where you can enter an alternate address & recipient.</p>
<p>Similarly, if you would like to have your Hug sent to an address other than your billing adress (work for example) simply follow the steps above and fill out the Hug Management Form and we will take care of the rest!</p>

<h4>Do You Ship Outside the U.S.?</h4>
<p>Sadly - since the US Postal Service just raised rates a HUGE amount, we only ship to the U.S. and it's territories ( if it has a zip code)</p>

<h4>My Hug arrived damaged!</h4>
<p>Arghh!  So sorry that this happened! (especially to you, our favorite customer) We know from personal experience what a bummer it is when a package arrives a mess.</p>
<p>It is rare for a pack to arrive in damaged condition but not unheard of - the post office isn't always gentle :).</p>
<p>We appreciate you and are here to make you smile so just submit a ticket & tell us what got ruined and we will get to work making you happy.
xoxo,
28 Day Team</p>

<h4>How do I manage my 28dayhug subscription? Update payment? Cancel?</h4>
<p>If you need to manage your 28 Day Hug  or pms-PRO subscription you can click the link below.</p>
<p>Once there you will need to establish a password for your account if you haven't already.</p>
<p>After that process you can use your password to login and update payment methods and cancel or suspend your account.</p>

