<!DOCTYPE html>
<html>
<head>
  <title>28 Day Hug</title>
  <!-- <link href="assets/css/stylesheet.css" rel="stylesheet"> -->
  <!-- <link href="app/assets/stylesheets/stylesheet_new.css" rel="stylesheet"> -->
</head>

<body class="home page page-id-8 page-template page-template-home-php">
  <div id="container">
    <div id="header">
      <div class="headerinner">
        <div class="logoholder">



        <div class="logoitem twentyheader">
          <a href="/" title="28dayhug">
            <img src="../app/assets/images/28-logo-top.png" alt="28day hug" class="headerlogo"/>
          </a>
        </div>
<!-- PMS PRO HEADER  -->
        <!-- <div class="logoitem pmsheader">
          <a href="/pms-pro" title="pms pro">
          <img src="assets/img/pms-pro-log-otop.png" alt="pms pro" class="headerlogo"/>
          </a>
        </div> -->
      </div>
<!--end logo-->

      <div class="sharewrapper">
<!-- Begin NEWS Signup Form -->
<!-- HIDDEN NEWSLETTER SIGN IN -->
        <div id="mc_embed_signup">
          <!-- <form id="mc-embedded-subscribe-form" class="validate" action="http://28dayhug.us6.list-manage.com/subscribe/post?u=0e2f20da2274b23d9093da1e3&amp;id=d65126a847" method="post" name="mc-embedded-subscribe-form" target="_blank">
            <label for="mce-EMAIL">28-Day Hug Newsletter! Signup!</label>
              <input id="mce-EMAIL" class="email"type="email"placeholder="email address"name="EMAIL"value=""/>
            <div class="clear">
              <input id="mc-embedded-subscribe"class="button"type="submit"name="subscribe"value="Subscribe"/>
            </div>
          </form> -->
        </div>

<!--End NEWS signup-->

        <div class="headersocialwrap">
          <div class="topheadshare">Find Us On
            <img src="assets/img/arrow_top.png" alt="28 day hug" class="headsharelogo"/>
          </div>

          <div class="headershareitem">
            <a href="https://www.facebook.com/28dayhug" target="_blank" class="socialtop facebooktop"></a>
          </div>

          <div class="headershareitem">
            <a href="https://twitter.com/28dayhug" target="_blank" class="socialtop twittertop"></a>
          </div>

          <div class="headershareitem">
            <a href="http://pinterest.com/28dayhug/"target="_blank"class="socialtop pinteresttop"></a>
          </div>
        </div>
          <a href="https://28dayhug.zendesk.com/" class="contactheader">Help Desk & FAQ</a>
    </div>
  </div>
</div>

<!--ENd header-->

<div class="contentwrapper 28daypage">
  <div class="contentinner">
    <div class="topbits">
      <img src="assets/img/logo_withtag.png" alt="28 day hug" class="topimagelogo28"/>
    </div>

    <div class="contentinnerround">
      <img src="assets/img/mainproductimage.png" alt="28 day hug" class="mainproductimage28"/>

      <div class="row128">
        <p class="largepurple">Periods Suck...<br/>We Give You a<br/>Reason To Smile<br/>When Aunt Flo Visits!</p>
        <p> We will send you a nice care pack every 28 days with some <br>great chocolate, a little tea, and a nice body care treat like an aromatherapy shower tablet. <br> <br>It's a little Hug that arrives in your mailbox!</p>
      </div>

        <div class="purchasecenter">
          <a href="http://28dayhug.com/see-you-soon/"class="purchasebutton texturebutton">
            <span class="largebuy">only $3.99 + s/h</span>
            <span class="mainbuttontype">Subscribe!</span>
          </a>
          <span class="shipping">(learn more below!)
            <img src="assets/img/downarrow1.jpg" alt="check it out"/>
          </span>
        </div>

        <div class="row228">
          <h2>how does it work?</h2>

          <div class="expectitem28">
            <p> We'll ship your HUG the day after your payment or whatever day you choose.</p>
            <img src="assets/img/line_1.jpg" alt="check it out" class="line"/>
          </div>

          <div class="expectitem28">
            <p> Choose a ship date that's 4 to 5 days before your next cycle to allow for shipping.</p>
            <img src="assets/img/line2.jpg"alt="check it out"class="line"/>
          </div>

          <div class="expectitem28">
            <p>Send it to yourself at home or at work. Send as a gift to a girlfriend or daughter. Wherever a HUG is needed!</p>
            <img src="assets/img/line3.jpg" alt="check it out" class="line"/>
          </div>

            <p class="bottomthatsit">That's It! Every 28 Days A Nice Big Hug In The Mail.</p>
            <img src="assets/img/paperhearts.png" alt="a nice big hug!" class="paperhearts"/>
        </div>

        <img src="assets/img/largechocolates.png" alt="some of these!" class="largechocolates"/>

        <div class="purchasecenterright secondpurchaseblock">
          <a href="http://28dayhug.com/see-you-soon/" class="purchasebutton texturebutton">
            <span class="largebuy">only $3.99 + s/h</span>
            <span class="mainbuttontype">Subscribe!</span>
          </a>
            <span class="shipping">s/h is 1.99 for a limited time</span>


<!--Twitter like TWITTER API BROKEN CREATE NEW TWEET BTN-->
<!--
            <div class="sharewrappermiddle">
            <div id="head-twiter">
              <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-url="https://twitter.com/28dayhug" data-text="A service that sends you chocolate, tea and aromatherapy during that time!  @28dayHug www.my28dayhug.com/">Tweet</a>
              <script>
                ! function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                }
                }(document, "script", "twitter-wjs");
              </script>
                        </div> -->
<!--END Twitter like-->


<!--FB LIKE-->
            <!-- <div id="head-fb">
              <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F28dayhug&amp;send=false&amp;layout=box_count&amp;width=150&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:90px;" allowTransparency="true"></iframe>
            </div>
          </div>
<!--END FB LIKE-->
        </div>
        <div class="whatcanyouexpect">
          <h3> What can you expect from </h3>
          <img src="assets/img/bottomdoglogo.jpg" alt="28 day hug" class="canyouexpectlogo"/>
          <div class="expectitem28bottom">
            <ul>
              <li>Really yummy chocolate</li>
              <li>A few really nice bags of tea</li>
              <li>Choice of puppy or kitten to snuggle*</li>
              <li>A nice little aromatherapy treat</li>
              <li>Your billing info to be secure</li>
              <li>Honest and clear communication</li>
            </ul>
          </div>
            <h4> What can you not expect from 28dayHug?</h4>
          <div class="expectitem28bottom expectbottomnot">
            <ul>
              <li>Grouchy customer service
                <span> (We might not be super fast getting back to you but you can expect to be treated nicely - I mean sheesh!  We work for you right?!)</span>
              </li>
              <li>Junk <span>(We don't send you a lot - but we send good stuff)</span></li>
            </ul>
          </div>
        </div>
        <div class="purchasecenter purchasebottom2">
          <a href="http://28dayhug.com/see-you-soon/" class="purchasebutton texturebutton">
            <span class="largebuy">only $3.99 + s/h</span>
            <span class="mainbuttontype">Subscribe!</span>
          </a>
          <span class="shipping">s/h is 1.99 for a limited time</span>
        </div>
        <div class="bottomsection">
          <img src="assets/img/largepackage.png" alt="28 day hug" class="bottompackage" />
          <p> After a long day at work coming home to some nice tea, really good chocolate, and taking a nice long shower with aromatherapy steam wrapping around you... that's the way to melt away all the stress and ease the tension of your monthly visitor.</p>
          <a href="http://28dayhug.com/see-you-soon/"class="purchasebutton texturebutton">
            <span class="largebuy">Go ahead and subscribe, it's nice!</span>
            <span class="mainbuttontype">Subscribe!</span>
          </a>
          <span class="bottomastric">
              * We cannot actually ship a puppy or kitten. It probably wouldn&#39;t be kosher with the Post Office, and the last thing we want is to imperil any adorable tiny pets. If you are in need of some fuzzy goodness, may we suggest cuteoverload.com
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end container-->

<div class="footerwrapper">
<div class="footerinner">
<h3> Thanks for visiting!</h3>

<br/>
<a href="https://28dayhug.zendesk.com/"class="contactheader footercontact">HelpDesk & FAQ</a>
<br/>
<span class="copyright"> © 2011 Lovely Brands LLC All Rights Reserved </span>
</div>
</div>
<script type='text/javascript' src='http://w.sharethis.com/button/buttons.js?ver=3.5.2'></script>

<!-- Don't forget analytics -->

<div class="digwrapper">
<!-- Pintrist -->
  <span class='st_pinterest_vcount' style="margin-bottom: 10px;
  display: block;
  margin-left: -7px;" displayText='Pinterest' st_url="http://28dayhug.com/" st_title="28 day hug!"
  st_image="assets/img/my28dayg.jpg" st_summary="www.28dayhug.com - After a long day at work coming home to some nice tea, really good chocolate, and taking a nice long shower with aromatherapy steam wrapping around you...that's the way to melt away all the stress and ease the tension of your monthly visitor."></span>
<!-- Google+ -->
  <script type='text/javascript' src='https://apis.google.com/js/plusone.js'></script><g:plusone size='tall' href='http://28dayhug.com/'></g:plusone>
<!-- Stumbleupon -->
  <!-- Place this tag where you want the su badge to render -->
<su:badge layout="5"></su:badge>

<!-- Place this snippet wherever appropriate -->
<script type="text/javascript">
  (function() {
    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
    li.src = ('https' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
  })();
</script>

<!-- REDDIT -->
  <iframe src="http://www.reddit.com/static/button/button2.html?width=51&url=http%3A%2F%2F28dayhug.com%2F&title=Home&newwindow='1'" height="69" width="51" scrolling='no' frameborder='0'></iframe>

</div>
</body>
</html>
