<h1>Editing subscriber</h1>

<<<<<<< HEAD
<%= render '/layouts/form' %>
=======
<%= render 'form' %>
>>>>>>> d01baa6085970c459966cde4b46c161b4f8b6474

<%= link_to 'Show', @subscriber %> |
<%= link_to 'Back', subscribers_path %>
