<div class="digwrapper">
  <script type='text/javascript' src='http://w.sharethis.com/button/buttons.js?ver=3.5.2'></script>

  <!-- Pintrist -->
    <span class='st_pinterest_vcount' style="margin-bottom: 10px;
    display: block;
    margin-left: -7px;" displayText='Pinterest' st_url="http://28dayhug.com/" st_title="28 day hug!"
    st_image="assets/img/my28dayg.jpg" st_summary="www.28dayhug.com - After a long day at work coming home to some nice tea, really good chocolate, and taking a nice long shower with aromatherapy steam wrapping around you...that's the way to melt away all the stress and ease the tension of your monthly visitor."></span>

  <!-- Google+ -->
  <script type='text/javascript' src='https://apis.google.com/js/plusone.js'></script><g:plusone size='tall' href='http://28dayhug.com/'></g:plusone>

  <!-- Stumbleupon -->
    <!-- Place this tag where you want the su badge to render -->
  <su:badge layout="5"></su:badge>

  <!-- Place this snippet wherever appropriate -->
  <script type="text/javascript">
    (function() {
      var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
      li.src = ('https' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
    })();
  </script>

  <!-- REDDIT -->
    <iframe src="http://www.reddit.com/static/button/button2.html?width=51&url=http%3A%2F%2F28dayhug.com%2F&title=Home&newwindow='1'" height="69" width="51" scrolling='no' frameborder='0'></iframe>
</div>