<div id="header">
  <div class="headerinner">
    <div class="logoholder">
      <div class="logoitem twentyheader">
        <a href="/" title="28dayhug">
        <%= link_to image_tag("28-logo-top.png", alt: "28 day hug", class: "headerlogo") %>
        </a>
      </div>
    </div>

  <div class="sharewrapper">
    <div id="mc_embed_signup">
    </div>
    <div class="headersocialwrap">
      <div class="topheadshare">Find Us On
        <%= link_to image_tag("arrow_top.png", alt: "28 day hug", class: "headsharelogo") %>
      </div>

      <div class="headershareitem">
        <a href="https://www.facebook.com/28dayhug" target="_blank" class="socialtop facebooktop"></a>
      </div>

      <div class="headershareitem">
        <a href="https://twitter.com/28dayhug" target="_blank" class="socialtop twittertop"></a>
      </div>

      <div class="headershareitem">
        <a href="http://pinterest.com/28dayhug/"target="_blank"class="socialtop pinteresttop"></a>
      </div>
    </div>
      <a href="#" class="contactheader">Help Desk & FAQ</a>
  </div>
</div>